<p class="section-caption">
    Click on the "Paths" tab.<br/><br/>
	<%= image_tag("help/click_path.jpg", :class => "help-image")%><br/><br/>
	Click on the "Create New Path" button below the menu tabs.<br/><br/>
	<%= image_tag("help/create_new_path.jpg", :class => "help-image")%><br/><br/>
	Enter the name of the path and click on the "CREATE" button.<br/><br/>
	<%= image_tag("help/enter_path_name.jpg", :class => "help-image")%><br/><br/>
	Once the path is created, it will be listed in the list of all your paths.<br/><br/>
	<%= image_tag("help/new_path_created.jpg", :class => "help-image")%><br/><br/>
  </p>

<div class="help-screencast">
	<p>Watch a screencast about how to create a path.</p>
	<%= help_movie( "/help/screencasts/Create_new_path/create_path.mov", "/help/screencasts/Create_new_path/create_path.jpg", 680, 435 ) %>
</div>
