<!-- <h1><a href="http://herbergerinstitute.asu.edu/degrees/digital_culture/" class="unit_program">Digital Culture</a></h1> -->


<div class="maincontent">
	
	<h1>Degrees</h1>
	
	<p>The ASU Herberger Institute Digital Culture Initiative provides students with innovative, tangible skills in digital media. Access to state of the art facilities and self-directed course paths give students the tools they need to be successful leaders in the 21st century digital culture.
	</p>
	<p>These are the current programs available involving a Digital Culture focus:</p>
	<p><a href="http://herbergerinstitute.asu.edu/degrees/ba_arts/focus_digital.php" target="_blank">Bachelor of Arts in The Arts – Digital Culture focus</a>
		[ <%= link_to('download major map document (pdf)', '/docs/BAinTheArts-DigitalCulture.pdf')%> ]</p>
	<p><a href="http://herbergerinstitute.asu.edu/degrees/ba_design/digital.php" target="_blank">Bachelor of Arts in Design Studies – Digital Culture focus</a>
		[ <%= link_to('download major map document (pdf)', '/docs/BAinDesignStudies-DigitalCulture.pdf')%> ]</p>
	<p><a href="https://webapp4.asu.edu/programs/t5/majorinfo/ASU00/ESCPIBS/undergrad/false" target="_blank">Bachelor of Science in Informatics – Digital Culture focus</a>
	   [ <%= link_to('download major map document (pdf)', 'http://provost.asu.edu/files/shared/capc/April%202010/Proposal_to_Establish_a_Program_BS%20in%20Informatics_MajorMap.pdf')%> ]<br/>
	From the School of Computing, Informatics and Decision Systems Engineering (Fulton Schools of Engineering)</p>
	<p>Bachelor of Science in Engineering – Digital Culture focus
		<br/>From the College of Technology and Innovation (ASU Polytechnic Campus)</p>
	<p><a href="http://herbergerinstitute.asu.edu/degrees/digital_culture/minor.php" target="_blank">Minor and BIS Concentration</a>
		[ <%= link_to('download minor document (pdf)', '/docs/DigitalCultureMinor.pdf')%> ]</p>
	<p>Certificate in Digital Culture 
		[ <%= link_to('download certificate document (pdf)', '/docs/DigitalCultureCertificate.pdf')%> ]</p>
	
	
	<div style="margin-top:20px;">
		<p style=" font-size:10px;">
			*For more information about our undergraduate programs, contact:<br/>
			Erica Green, Digital Culture Education Coordinator
			<a href="">Erica.G.Green@asu.edu</a>
		</p>
	</div>
	
	
</div>

<div class="others">
	<%=image_tag("content-img2.png", :class => "side-image")%>
</div>
<div class="clearfloat"></div>