<div class="maincontent">
	
	<h1>Faculty</h1>
	<%= faculty_link("Anderies, John", "https://webapp4.asu.edu/directory/person/507986", "Faculty, Associate Professor, School of Human Evolution and Social Change", "ASB 328 Rules, Games and Society" ) %>
	<%= faculty_link("Birchfield, David", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=469", "Faculty, Associate Professor, School of Arts, Media and Engineering", "ANP/AME 394 How to Build a Digital-Physical System" ) %>
	<%= faculty_link("Meyers, Jordan", "https://webapp4.asu.edu/directory/person/417913", "Faculty, Faculty Associate, The Design School", "DSC 394 Digital Modeling" ) %>
	<%= faculty_link("Campana, Ellen", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=286", "Faculty, Assistant Professor, School of Arts, Media and Engineering, Department of Psychology", "PSY 394 Memory and Cognition" ) %>
	
	<%= faculty_link("Coleman, Grisha", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=4632", "Faculty, Assistant Professor, School of Arts, Media and Engineering, School of Dance", "DCE 294 Hybrid Action: Physical Intelligence in Digital Culture<br/>AME 394 Collaborative Projects in Digital Culture" ) %>
	<%= faculty_link("Collins, Dan", "http://art.asu.edu/intermedia/research/collins.php", "Faculty, Professor, School of Art", "ART 294 3D Tools<br/>ART 494 Visualization and Prototyping" ) %>
	<%= faculty_link("Fahlman, Betsy", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=167", "Faculty, Professor, School of Art", "ARS 250 History of Photography" ) %>
	<%= faculty_link("Griffiths, Jason", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=4729", "Faculty, Assistant Professor, The Design School", "ANP/AME 394 How to Build a Digital-Physical System" ) %>
	<%= faculty_link("Hackbarth, Glenn", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=96", "Faculty, Professor, School of Art", "MUE 394 Advanced Interactive Sound" ) %>
	<%= faculty_link("Harp, Hilary", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=320", "Faculty, Assistant Professor, School of Art", "AME/ART 294 intro to Interactive Environments<br/>ART/AME 494 Media Installations" ) %>
	<%= faculty_link("Hayes, Elisabeth", "https://webapp4.asu.edu/directory/person/1054838", "Faculty, Professor, Learning, Technology &amp; Psychology in Education", "EDT 431 Computer Gaming, Learning and Literacy" ) %>
	<%= faculty_link("Heenan, Katherine", "https://webapp4.asu.edu/directory/person/192418", "Faculty, Lecturer Sr., English Department", "ENG 394 Writing in Cyberspace (Special Topics)" ) %>
	<%= faculty_link("Ingalls, Todd", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=138", "Faculty, Associate Research Professor, School of Arts, Media and Engineering", "AME 194 Computational Thinking for Digital Culture and Media Arts <br/>AME 394 Compositional and Computation Principles for Media Arts" ) %>
	<%= faculty_link("Janssen, Marco", "http://shesc.asu.edu/janssen", "Faculty, Associate Professor, School of Human Evolution and Social Change", "ASB 328 Rules, Games and Society <br/>ASB 430 Social Simulation" ) %>
	<%= faculty_link("Jenik, Adriene", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=4817", "Faculty, Professor and Director, School of Art", "ART 194 Digital Art and Culture" ) %>
	<%= faculty_link("Kelliher, Aisling", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=4633", "Faculty, Assistant Professor, School of Arts, Media and Engineering and The Design School", "DSC 294 Media Editing<br/>AME 394 Media Theory" ) %>
	<%= faculty_link("Lasch, Christopher", "https://webapp4.asu.edu/directory/person/1638793", "Faculty, Faculty Associate, The Design School", "ANP 394 Digital Fabrication <br/>ANP 494 Designing Hybrid Spaces" ) %>
	<%= faculty_link("Mesch, Claudia", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=246", "Faculty, Associate Professor, School of Art", "ARS 294 History and Television <br/>ARS 438 Art of the 20th Century I <br/>ARS 460 Art Now" ) %>
	<%= faculty_link("Newton, David", "https://webapp4.asu.edu/directory/person/7202", "Faculty, Lecturer, The Design School", "ANP 494 Digital Ecologies: Parametric Systems Design<br/>ANP 394 Design by Algorithm" ) %>
	<%= faculty_link("Olson, Loren", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=136", "Faculty, Assistant Clinical Professor, School of Arts, Media and Engineering", "AME 294 Programming for Media Arts<br/>AME 494 Animating Virtual Worlds" ) %>
	<%= faculty_link("Pinholster, Jacob", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=369", "Faculty, Associate Professor and Associate Director, School of Theatre and Film", "FMP 294 Introduction to Animation<br/>FMP 394 Non-linear Editing" ) %>
	
	<%= faculty_link("Qian, Gang", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=248", "Faculty, Assistant Professor, School of Arts, Media and Engineering, School of Electrical, Computer, and Energy Engineering", "EEE/CSE 394 Information Analysis and Search for Digital Culture" ) %>
	<%= faculty_link("Rikakis, Thanassis", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=237", "Faculty, Professor and Director, School of Arts, Media and Engineering", "AME 194 Introduction to Digital Culture" ) %>
	<%= faculty_link("Schneider, Elizabeth", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=311", "Faculty, Associate Professor, School of Art", "ART 294 The Still Image in Digital Culture" ) %>
	<%= faculty_link("Spanias, Andreas", "http://engineering.asu.edu/people/93829", "Faculty, Professor, School of Electrical, Computer, and Energy Engineering", "EEE 394 Signal Analysis for Digital Culture" ) %>
	<%= faculty_link("Stockrocki, Mary", "https://webapp4.asu.edu/directory/person/44733", "Faculty, Professor, School of Art", "ARE 494 Digital Ethnography in Virtual Worlds" ) %>
	<%= faculty_link("Sundaram, Hari", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=442", "Faculty, Associate Professor, School of Arts, Media and Engineering and School of Computing, Informatics, and Decision Systems Engineering", "CSE 294 Data Structures, Analysis and Retrieval<br/>AME 494 integrated System Development for Digital Culture" ) %>
	<%= faculty_link("Tobias, Evan", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=4661", "Faculty, Assistant Professor, School of Music", "MUE 294 Open Minds Digital Ears <br/>MUE 394 Performing in Digital and Hybrid Music Groups" ) %>
	<%= faculty_link("Tinapple, David", "http://herbergerinstitute.asu.edu/directory/selectone.php?ID=4832", "Faculty, Assistant Professor, School of Arts, Media and Engineering", "AME/ART 294 Introduction to Interactive Environments <br/>AME 394 Collaborative Projects in Digital Culture <br/>ART/AME 494 Media Installations" ) %>
	<%= faculty_link("Waggoner, Zachary", "https://webapp4.asu.edu/directory/person/294901", "Faculty, Lecturer, Department of English", "ENG 394 Videogame Theory" ) %>
	<%= faculty_link("Wetmore, Jameson", "https://webapp4.asu.edu/directory/person/845730", "Faculty, Assistant Professor, School of Human Evolution and Social Change", "ASB 344 Technology &amp; Society" ) %>	
	
	<div style="margin-top:20px;">
		<p style=" font-size:10px;">*For more information about our undergraduate programs, contact:<br/>
		Erica Green, Digital Culture Education Coordinator
		<a href="">Erica.G.Green@asu.edu</a></p>
		</div>
	
	
</div>

<div class="clearfloat">
	
	</div>