<div class="maincontent">
	<h1>Policies and Forms</h1>
	
	<p>
		Need help? Students with a course related question should contact their instructor or teaching assistant directly. For other questions or issues, you can submit a <%= link_to( 'help request from this link.', '/issue' ) %>
	</p>
	<br/>
	
	<p><%= link_to('ISAAC Access Request Form (pdf)', '/docs/AME_DC_ISAAC_Access_Request_Form.pdf')%>, Isaac access is required to enter the Stauffer building.</p>
	<p><%= link_to('Computer Lab Policies and Procedures (pdf)', '/docs/Digital_Culture_Computer_Lab_Policies_and_Procedures.pdf')%>.</p>
	<p><%= link_to('Equipment Use and Checkout Policy (pdf)', '/docs/Digital_Culture_Equipment_Use_and_Checkout_Policy.pdf')%>.</p>
	<p><%= link_to('General Classroom Policies (pdf)', '/docs/Digital_Culture_General_Classroom_Policies.pdf')%>.</p>
	<p><%= link_to('Storage Locker Policy (pdf)', '/docs/Digital_Culture_Storage_Locker_Policy.pdf')%>.</p>
	
	<br/>
	<div style="margin-top:20px;">
		<p style=" font-size:10px;">*For more information about our undergraduate programs, contact:<br/>
		Erica Green, Digital Culture Education Coordinator
		<a href="">Erica.G.Green@asu.edu</a></p>
	</div>
</div>
<div class="clearfloat"></div>